// Form elements

#restaurants, form {
    transition: opacity .1s ease-out;
}

.fade {
    opacity: 0;
}

form {
    background-color: var(--background-dark);
    border-radius: 10px;
    display: none;
    font-size: 1rem;
    margin: 2em auto;
    padding: 1em 2em;
    text-align: left;
    width: 75vw;

    hr {
        margin: 1em 0;
    }

    h1 {
        font-size: 1.6rem;
        margin: 0;
        text-align: center;
    }

    p {
        margin-bottom: .5em;
    }
}

#sign-in {
    text-align: center;
    padding: 2em;

    .form-input {
        place-content: center;
    }

    .buttons {
        margin: 1em 0 0 0;
    }
}

.form-input {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.4rem;
}

input {
    appearance: none;
    background: transparent;
    border-color: var(--foreground);
    border-width: 0 0 2px 0;
    color: var(--foreground);
    font-size: 1.2rem;
    margin: .5em 0;
    text-align: center;
}

::placeholder {
    opacity: .2;
}

input:focus {
    outline: none;
    border-color: var(--accent);
}

textarea {
    background: transparent;
    border: 1px solid var(--foreground);
    border-radius: 4px;
    color: var(--foreground);
    font-family: sans-serif;
    font-size: 1em;
    margin: 1em 0;
    width: 100%;
}

select {
    font-size: .9em;
    margin: 0 .5em;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 2em 0 1em 0;
}

button, .button {
    appearance: none;
    background-color: var(--accent);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--background);
    font-size: 1em;
    padding: 0.4em 1em;
    text-decoration: none;
}

button.text, .button.text {
    background: none;
    color: var(--foreground);
    transition: background-color .15s ease-in-out;
}

button.text:hover {
    background-color: var(--background-hover);
}

@media screen and (min-width: 1000px) {
    form {
        width: 50vw;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 760px) {
    .form-input {
        flex-direction: row;
    }

    input {
        margin: 0 .5em;
    }

    #location {
        width: 50%;
    }
}
