// Restaurants

.restaurants {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fill, min(400px, 90vw));
    grid-gap: 1em;
    grid-auto-rows: 200px;
    margin: 2em;

    .restaurant {
        background: var(--accent);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
        cursor: pointer;
        position: relative;

        h1 {
            background-color: #fffa;
            border-radius: 0 0 10px 10px;
            color: #000;
            font-size: 1.75rem;
            position: absolute;
            bottom: 0;
            margin: 0;
            padding: 0.25em 0;
            text-align: center;
            width: 100%;
        }
    }

    .halal {
        background-image: url(/images/halal.png);
    }

    .moes {
        background-image: url(/images/moes.jpg);
    }

    .panda {
        background-image: url(/images/panda.jpg);
    }

    .taco {
        background-image: url(/images/taco.jpg);
    }

    .starbucks {
        background-image: url(/images/starbucks.jpg);
    }

    .chick {
        background-image: url(/images/chick.jpg);
    }

    .papa {
        background-image: url(/images/papa.jpg);
    }

    .firehouse {
        background-image: url(/images/firehouse.jpg);
    }

    .pub {
        background-image: url(/images/pub.jpg);
    }

    .smoothie {
        background-image: url(/images/smoothie.jpg);
    }

    .restaurant:hover {
        box-shadow: 0 0 6px 2px rgba(15, 15, 15, 1);
    }
}
