// Restaurants

#restaurants {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fill, min(400px, 90vw));
    grid-gap: 1em;
    grid-auto-rows: 200px;
    margin: 2em;

    .restaurant {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
        cursor: pointer;
        position: relative;

        h1 {
            background-color: #fffa;
            border-radius: 0 0 10px 10px;
            color: #000;
            font-size: 1.4rem;
            position: absolute;
            bottom: 0;
            margin: 0;
            padding: 0.25em 0;
            text-align: center;
            width: 100%;
        }
    }

    .restaurant:hover {
        box-shadow: 0 0 6px 2px var(--shadow);
    }
}


@media screen and (min-width: 420px) {
    .restaurant h1 {
        font-size: 1.75rem;
    }
}
